compiled
editor_compiled
objs
editor_objs
sdl/SDL2-2.0.8/build/*
!sdl/SDL2-2.0.8/build/DontRemoveMe
sdl/SDL2-2.24.2/build/*
!sdl/SDL2-2.24.2/build/DontRemoveMe
SDL2_build
doom-nukem
sdl/SDL2_build
*.a
*.dSYM
.vscode
*.o
.DS_Store
perf.data*
doom-nukem-editor
editor
*.test
